
.container{background-color:white;padding:30px;   }

ul{
  margin:0;
  padding:0;
  list-style:none;
}
li{
    margin: 20px;
}  



.user-list .user img{ 
    width:120px; 
    height: 120px;
    }

.user-list .user{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:10px 10px; 
   text-align:center; 
   margin: 2px;
}
.user-list .user h5{ 
     padding:8px;
  
}

.user-list .user h5 a:hover{
	color:#9dccf5;

}


