<nav class="navbar navbar-expand-sm  bg-light">
  <div class="col-2">   </div>
    <div class="collapse navbar-collapse col-8" id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-success  btn-lg" routerLink="/"
            > Users
        </button> 
             </li>
        <li class="nav-item">
          <button class="btn btn-primary  btn-lg" routerLink="/users/new">New user </button>
        </li>
      </ul>
      
    </div>
    <div class="col-2">  </div>
  </nav>
  
  <router-outlet></router-outlet>
  
  